*{
    margin:0;
}
.container{
    height:100%;
    width:100%;
}
.header-content{
    background-color:#778899;
    text-align:center;
    color:white;
    height:50px;
    font-size:20px;
    padding-top:20px;
}
.nav-content{
    background-color:#add8e6;
    height:30px;
}
.nav-content ul{
    color:black;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding:10px;
    font-size:15px;
}
.nav-content ul li a{
    color:#ffffff;
    text-decoration:none;
}
.main-content{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    background-color:#f5f5f5;
}
.main-content div{
    height:33.3%;
    width:33.3%;
    flex:30%;
    margin-left:5px;
    border:3px solid #000000;
    margin-top:5px;
    border-radius:10px;
    background-color: #00ffff;
}
.main-content div img{
    width:100%;
    height:90%;
    overflow:hidden;
    cursor:pointer;
}
.main-content div p{
    font-size:10px;
    font-weight:bold;
    color:#000000;
    text-align:center;
}
.footer-content{
    background:#808080;
    height:80px;
    text-align:center;
}
.light-box{
    display:none; 
    width:100%;
    height:100%;
    position:fixed;
    z-index:100;
    justify-content: center;
    align-items: center;
}
.light-box .close-button{
    position:absolute;
    right:10px;
    font-size:25px;
    cursor:pointer;
    color:#FF0000;
    top:0;

}
.light-box img{
    height:60%;
    width:60%;
    border:5px solid #000000;
    position:absolute;
}
 @media only screen and (max-width:321px){
    .main-content{
        display:flex;
        flex-direction:column;
    }
     .main-content div{
        height:90%;
        width:93%;
        border:3px solid #000000;
        background-color: #00ffff;
    }
}
 
@media only screen and (min-width:321px) and (max-width:768px){
     .main-content div{
        height:50%;
        width:50%;
        flex:40%;
        background-color: #00ffff;
    }
}
